.header {
  position: relative;
  height: 80vh;                                                   /* 85% of the viewport height */
  
  background-image:                                               // low resolution
    linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8), 
    ), 
    url("../img/hero-small.jpg");                                 

  background-size: cover;                                         /* fit 100% of element */
  background-position: top;                                       /* image stays always at the top */  
  

  @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);     
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);             /* you can use the clippy tool for this */
    height: 95vh;                                                   /* 95% of the viewport height */
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5em),              // if resolution is higher than 192dpi (apple retina), and min-width > 600px
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),   // Needed for Safari !
         (min-width: 125em) {                                           // if screen width > 2000px   
    background-image:                                             
    linear-gradient(
      to right bottom, 
      rgba($color-secondary-light, 0.8), 
      rgba($color-secondary-dark, 0.8), 
    ), 
    url("../img/hero.jpg");
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);     
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);             /* you can use the clippy tool for this */
  }

  &__logo-box {
    position: absolute;
    left: 4rem;                                                   /* from the relative parent */
    top: 4rem;
  }

  &__logo {
    height: 3.5rem; 
  }

  &__text-box {
    @include center_screen;
    text-align: center;
  }
  
}